@import "tailwindcss";

:root {
  /* Base background/text colors */
  --background: #faf9f6; /* brand white */
  --foreground: #343231; /* brand black */
}

@theme inline {
  /* Core colors mapped to Tailwind tokens */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Brand palette */
  --color-brand-blue: #246bf6; /* dark blue */
  --color-brand-lime: #d9f855; /* lime */
  --color-brand-light-blue: #92b5fb; /* light blue */
  --color-brand-dark: #343231; /* black */
  --color-bg-offwhite: #faf9f6; /* white */
  --color-bg-light-line: #e2e4ea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #faf9f6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}